<!-- NOTE: The navigation bar will load directly into the html<body> code of ALL pages -->
<div class="page-header">
</div>
<nav class="navbar navbar-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.php">AlphaWave</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#all">All</a></li>
            <li><a href="404.html">Profiles</a></li>
            <li><a href="404.html">Brokers</a></li>
        </ul>
        <!--<button class="btn btn-info btn-sm navbar-btn" href="log.php">Log in</button>-->
        <a href="log.php" class="btn btn-primary btn-sm navbar-btn" role="button">Log in</a>
        <a href="contents.php?subject=help" class="btn btn-info btn-sm navbar-btn" role="button">help</a>
    </div>
</nav>
